extend componentes/plantilla.pug
block contenidos
		section.contenido
			+caja--Historia("lachilateriahistoria.jpg", "Fernanda Leon", "Visitamos a la chilateria", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam similique aperiam eius itaque laudantium recusandae officia sunt eaque accusamus qui, praesentium unde adipisci neque nesciunt ex commodi, provident assumenda quam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam similique aperiam eius itaque laudantium recusandae officia sunt eaque accusamus qui, praesentium unde adipisci neque nesciunt ex commodi, provident assumenda quam.")