extend componentes/plantilla.pug
block contenidos
		//- section.intro
		//- 	.intro__imagen: img(src="../images/intro.jpg")
			
		//- article.articulo--principal
		//- 	p.articulo--principal__intro En Cyberpunk 2077 los jugadores podrán seleccionar entre tres historias de origen diferentes, cada una presentando una ubicación de partida distinta para su personaje.
		//- 	p Conversando con VG247, el diseñador Pawel Sasko explicó un sistema que CD Projekt RED llama "Lifepaths" (caminos de vida), que en la práctica suena muy similar a las historias sobre el origen del personaje de Dragon Age: Origins.
		//- 	h3 Noticias, fecha de lanzamiento y plataformas de Cyberpunk 2077
		//- 	p En otras noticias, recientemente descubrimos que CD Projekt RED tiene planes de desarrollar tres juegos Cyberpunk, y que Cyberpunk 2077 contará con tramas románticas similares a las que vimos en The Witcher 3. Si el romance no es su estilo, no se preocupen, podrán ser tan malvados como deseen gracias a que Cyberpunk 2077 no tendrá un sistema de moralidad.
		//- 	h2 No te Pierdas...
		h2.categories__title Bebidas
		section.contenedor--cajas
			+caja--Derecha("lachilateriavaso.jpg", "Bebida", "Chilate", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!") 
			+caja--Izquierda("lachilateriamalteada.jpg", "Bebida", "Malteada", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			+caja--Derecha("lachilateriaesquimo.jpg", "Bebida", "Esquimo", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			+caja--Izquierda("lachilateriamezcal.jpg", "Bebida", "Mezcal", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			+caja--Derecha("lachilateriabotella.jpg", "Bebida", "Botella", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
		h2.categories__title Postres
		section.contenedor--cajas
			+caja--Derecha("lachilaterianieve.jpg", "Postre", "Nieve", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!") 
			+caja--Izquierda("lachilaterianieveespecial.jpg", "Postre", "Nieve Especial", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			+caja--Derecha("lachilateriacrema.jpg", "Postre", "Crema", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			+caja--Izquierda("lachilateriagelatina.jpg", "Postre", "Gelatina", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sint, dicta adipisci soluta autem illo fugiat sapiente ex totam consequatur, aperiam laudantium, culpa aspernatur minima a exercitationem voluptatem voluptate architecto!")
			