extend componentes/plantilla.pug
block contenidos
	main.contenedor--home
		+article--landing("-La Chilatería", "¡El Chilate es nuestro oro liquido!","Conoce nuestros productos")
		+caja--landing('lachilateriavideo.mp4')
		
