footer.footer--principal
	nav.nav--footer: ul
		li: a(href="#") Términos de uso
		li: a(href="#") Declaración de privacidad
		li: a(href="#") Centro de ayuda
	.nav--social: ul
		li Made by @lmartin_maceda
		li: a(href="https://www.instagram.com/lmartin_maceda/"): i.fab.fa-instagram
		li: a(href="https://twitter.com/lmartin_maceda"): i.fab.fa-twitter
		li: a(href="https://www.linkedin.com/in/lmartinmaceda/"): i.fab.fa-linkedin