header.header--principal
	a(href="./pagina-principal.html" class="logo logo--header") 
		img(src="../images/logo--chilateria.png")
		h2 La Chilateria
		//- a(href="./pagina-principal.html" class="nav--menu--seccion") La Chilateria
	nav.nav--header: ul
		//- li: a(href="./pagina-principal.html" class="nav__menu--seccion") Home
		li: a(href="./articulo.html" class="nav--menu--seccion") Productos
		li: a(href="./perfil.html" class="nav--menu--seccion") Sucursales
		li: a(href="./resultados-busqueda.html" class="nav--menu--seccion") Historias Chilateria
		li: a(href="#" class="nav--menu--seccion") Nosotros
		li: a(href="https://www.facebook.com/chilateriachilpancingo/" class="nav__menu--redes")
				i.fab.fa-facebook-square
				//- span Search
		li: a(href="https://www.instagram.com/lachilateria/?hl=es" class="nav__menu--redes")
				i.fab.fa-instagram
				//- span Search
		li: a(href="https://goo.gl/maps/RJJX3u3JZFb9hHHB8" class="nav__menu--redes")
				i.fas.fa-map-marker-alt
				//- span Search